.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.body-text {
  color: indigo;
}

.lil-foot a {
  text-decoration: none;
  color: initial;
}